# best_quotes/app/views/a_quote.html.erb

<p>There is <em>nothing</em> either <span style='color:green'>good</span> or <span style='color:red'>bad</span>, but <strong><%= noun %></strong> makes it so.</p>

<p>Ruby version <%= RUBY_VERSION %></p>

<p>
  <em>Server Software: </em><br />
  <%= env['SERVER_SOFTWARE'] %>
</p>

<p>
  <em>Cookie:</em> <br />
  <%= env['HTTP_COOKIE'] %>
</p>
