<% # best_quotes/app/views/quotes/index.html.erb %>

<% quotes.each do |q| %>
  <p>
    &quot;<%= q["quote"] %>&quot;
    <br />
    &ndash; <%= q["attribution"] %>
  </p>
  <p>
    Submitted by <%= q["submitter"] %>
  </p>
<% end %>
